@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    /* font-family: 'Noto Sans KR', sans-serif; */
    font-family: 'Black Han Sans', sans-serif; 
    font-size: 10px;
  }

  nav{ 
    background-color: greenyellow;
  }
  .nav-container{
    padding: 1rem 1rem;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}
  .nav-contact{
    border: none; 
    background: none;
    font-family: inherit;
}

@media all and (min-width:1024px) {
  .inner{
    max-width: 1024px;
    margin: 0 auto;
  }
}

