<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
</style>
<style>
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
</style>

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    /* font-family: 'Noto Sans KR', sans-serif; */
    font-family: 'Black Han Sans', sans-serif; 
    font-size: 10px;
  }
  .nav-container{
    display: flex; 
    justify-content: space-between; 
    padding-left: 10px; 
    background-color: greenyellow;
    align-items: center;
}
  .nav-contact{
    border: none; 
    background: none;
    font-family: inherit;
}
